h4{
    color: rgb(79, 75, 75);
    font-style: normal;
    margin: 15px;
    font-size: 22px;
    line-height: 30px;
  }
  .form-group{
    margin: 10px;
  }
  .button{
    font-size: 5px;
  }
  .form-control{
    color: #000;
  }
  .rowcomtenet{
    border: 0.1px solid rgb(183, 171, 180);
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
  }