<section class="ftco-section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6 col-lg-5">
              <div class="login-wrap p-4 p-md-5">
            <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-user-o"></span>
            </div>
            <h3 class="text-center mb-4">Register</h3>
                  <form [formGroup]="myform" (ngSubmit)="signUp()" class="login-form">
                <!-- username-->
                    <div class="form-group">
                    <input #username type="text"  placeholder="username" formControlName="username"  class="form-control rounded-left"  required>
                </div>

                <div *ngIf="myform.get('username')?.hasError('required') && username && (username.dirty || username.touched)" class="help-block">
                  <div>username is required </div>
                </div>
                <!-- firstname-->
                <div class="form-group">
                  <input #firstname type="text"  placeholder="firstname" formControlName="firstname"  class="form-control rounded-left"  required>
                </div>

                <div *ngIf="myform.get('firstname')?.hasError('required') && firstname && (firstname.dirty || firstname.touched)" class="help-block">
                  <div>firstname is required </div>
                </div>

                <!-- lastname-->
                <div class="form-group">
                  <input #lastname type="text"  placeholder="lastname" formControlName="lastname"  class="form-control rounded-left"  required>
                </div>

                <div *ngIf="myform.get('lastname')?.hasError('required') && lastname && (lastname.dirty || lastname.touched)" class="help-block">
                  <div>lastname is required </div>
                </div>

                <!-- email-->
                <div class="form-group">
                  <input #email type="text"  placeholder="email" formControlName="email"  class="form-control rounded-left"  required>
                </div>

                <div *ngIf="myform.get('email')?.hasError('required') && lastname && (email.dirty || email.touched)" class="help-block">
                  <div>email is required </div>
                </div>
              <!-- password-->
                <div class="form-group d-flex">
                  <input #password formControlName="password" type="password" class="form-control rounded-left" placeholder="Password" required>
                </div>
         
                <div *ngIf="password && (password.dirty || password.touched)" class="help-block">
                    <div *ngIf="myform.get('password')?.hasError('minlength')"> Short password</div>
                    <div *ngIf="myform.get('password')?.hasError('required')">Password is required </div>
                  </div>
          
          <div class="form-group">
              <button type="submit"  [disabled]="myform.invalid" class="btn btn-primary rounded submit p-3 px-5">Get registred</button>
          </div>
        </form>
      </div>
          </div>
      </div>
  </div>
</section>

