table{
    width: 100%;
    
}
.bodytable{
  
    padding: 2%;
}
.tr{
    color: #000;
   
}
th, td{
    padding: 10px;
    color: #000;
    
  }

  .rowcomtenet{
    border: 0.1px solid rgb(183, 171, 180);
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
  }
 