body {
    overflow: overlay;
 }

 ::-webkit-scrollbar {
    width: 10px;
    background: transparent;
 }

 ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2px;
 }
.scrollable {
    overflow: overlay; 
    height: 600px;
    background-color: transparent;
}
.card-title{
    font-size: 30px;
}
.icon{
    padding: 1;
}
.container{

    position: absolute; 
    top: 20%;
    left: 13%;
}
.card-text{
    line-height: 1.5em;
    height: 6em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden; 
}
.center{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 0.8;
    border-radius: 50%;
}

// .btn-center{
//     position: absolute;
//     left: 40%;
// }