body {
    overflow: overlay;
 }

 ::-webkit-scrollbar {
    width: 10px;
    background: transparent;
 }

 ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2px;
 }
.scrollable {
    overflow: overlay; 
    height: 600px;
    background-color: transparent;
}
.card-title{
    font-size: 30px;
    line-height: 1.5em;
    height: 7em;
}
.icon{
    margin-top: 13px;
    // margin-bottom: 0px;
}
.container{
    bottom: 10%;
    position: absolute; 
    top: 15%;
    left: 13%;
}
.card-text{
    line-height: 1.5em;
    height: 6em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden; 
}
.center{
    top: 10%;
    position: relative; 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    opacity: 0.8;
    border-radius: 50%;
}

.btn-center{
    position: absolute;
    top: 0%;
    left: 40%;
    // bottom: 15%;
}