<img class="background-center float" src="assets/img/planets/BigPlanet1@3x.png" />
    <div class="text-center row float">
      <h3>
       Welcome to
      </h3>
      <h1 class="title h1-seo grow"><b>- SPACY -</b></h1>
      <div class="content">
        <h3>
          where you can have your own space to focus ...
        </h3>
        <button class="btn btn-warning btn-simple btn-round" type="button">
          <a class="button-link"
          [routerLink]="['/landing/register']"
        >Let's get started</a>
        </button>
      </div>
       
    </div>

    