<script type="text/javascript" src="assets/js/animations.js"></script>
    <script type="text/javascript" src="http://requirejs.org/docs/release/2.1.15/minified/require.js"></script>
    <script type="text/javascript" src="https://rawgit.com/ironwallaby/delaunay/master/delaunay.js"></script>
    <nav
    class="navbar navbar-expand-lg fixed-top navbar-transparent"
    color-on-scroll="100"
    id="navbar-top"
  >
    <div class="container">
      <div class="navbar-translate">
        <a
          class="navbar-brand"
          placement="bottom"
          [routerLink]="['/home']"
        >
        <img src="./assets/img/moon.png" width="20px" /> <span> SPACY • </span> Your safe space
        </a>
        <button
          aria-controls="navigation-index"
          aria-label="Toggle navigation"
          class="navbar-toggler navbar-toggler"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed"
          id="navigation"
          type="button"
        >
          <span class="navbar-toggler-bar bar1"> </span>
          <span class="navbar-toggler-bar bar2"> </span>
          <span class="navbar-toggler-bar bar3"> </span>
        </button>
      </div>
      <div
        class="navbar-collapse justify-content-end"
        [collapse]="isCollapsed"
        id="navigation"
      >
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand"><img src="./assets/img/moon.png" width="20px" /><a> SPACY • </a></div>
            <div class="col-6 collapse-close text-right">
              <button
                aria-controls="navigation-index"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed"
                id="navigation"
                type="button"
              >
                <i class="tim-icons icon-simple-remove"> </i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <h4 class="nav-link grow">Username</h4>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> logout </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="wrapper">
  <div class="page-header">
    <div class="stars"></div>
    <div class="night header-filter">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
    </div>
    <img class="background" src="assets/img/home/BigPlanet@3x.png" />
    <img class="background1" src="assets/img/home/Sparkles1.png" />
    <img class="background2" src="assets/img/home/Sparkles2.png" />
<!--
    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" /> -->

    <div class ="center">
        
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
      <div class="col col-lg-2">
        <a [routerLink]="['/focus']" class="hovertext" tooltip="FOCUS WORLD">
            <img class="planet1 floating2" src="assets/img/planets/Planet2.png" />
        </a>
        <a href="#" class="hovertext" tooltip=" WORLD">
            <img class="planet3 floating1 " src="assets/img/planets/Planet3@2x.png" /></a>
      </div>
        <div class="col col-lg-6">
            <div class="container content-center">
                <h1 class="text-white grow">
                    Choose your <span class="text-white"><b>WORLD !</b></span>
                  </h1>
                  <p class="text-white ">
                    A wonderful serenity has taken possession of my entire soul, like
                    these sweet mornings of spring which I enjoy with my whole heart. I
                    am alone, and feel...
                  </p>
            </div>
          
         
        </div>
        <div class="col col-lg-2">
            <a href="#" class="hovertext" tooltip="CHAT WORLD"><img
            class="img-fluid planet1 floating1"
            src="assets/img/planets/Planet1.png"
          /></a>
          <a href="#" class="hovertext" tooltip="TODO WORLD"><img 
              class="img-fluid planet2 floating2 "
              src="assets/img/planets/Planet2.png"
            /></a>
        </div>
      </div>
    </div>
  </div>
</div>
