<div class="content">
    <div class="container-fluid">
        <br>
 <br>
 <br>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Profile</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="myform">
                            <div class="row">
                              
                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        <label>Login</label>
                                        <input formControlName="login"  type="text" class="form-control" placeholder="user.login" [(ngModel)]="user.login" [value]="user.login">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input formControlName="email"  type="email" class="form-control" placeholder="email" [(ngModel)]="user.email" [value]="user.email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Prenom</label>
                                        <input formControlName="prenom"  type="text" class="form-control" placeholder="user.prenom" [(ngModel)]="user.prenom" [value]="user.prenom">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input formControlName="nom"  type="text" class="form-control" placeholder="nom" [(ngModel)]="user.nom" [value]="user.nom">
                                    </div>
                                </div>
                            </div>
           
                            <button (click)='update()' type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-image">
                        <img src="https://images.hdqwalls.com/wallpapers/lynette-space-scenery-scifi-rf.jpg" alt="...">
                    </div>
                    
                    <div >
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="../assets/img/user.png" alt="...">
                            </a>
                            <br>
                            <br>
                            <p class="description">
                                {{user.login}}
                            </p>
                        </div>
                        <div class="description text-center">
                           {{user.roles}}
                        </div>
                    </div>
                    <br>
                    
                    <hr>
                    <div class="button-container mr-auto ml-auto">
                        <button href="#" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-facebook-square"></i>
                        </button>
                        <button href="#" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button href="#" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-google-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>