<div class="container center">
    <div class="card">
        <div class="card-header typography-line">
            <h2 class="title">{{ title }}</h2>
            <h5 class="title">Author : {{ author }}</h5>
        </div>
        <div class="card-body scrollable">
            <p class="profile-description">
                {{ text }}
            </p>
        </div>
        <br/>
      </div>
      <button [routerLink]="['/home']"
      class="btn btn-warning btn-center">
      Go back to Article list
    </button>
</div>

