
<div class="container-fluid">
 <br>
 <br>
 <br>
    <div class="row">
     <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Users Behavior</h4>
                    <p class="card-category">24 Hours performance</p>
                </div>
                <div class="card-body ">
                    <p-chart type="pie" [data]="data"></p-chart>
                </div>
                <div class="card-footer ">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> FOCUS WORLD
                        <i class="fa fa-circle text-danger"></i> TODO WORLD
                        <i class="fa fa-circle text-warning"></i> CHAT WORLD
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Users Behavior</h4>
                    <p class="card-category">24 Hours performance</p>
                </div>
                <div class="card-body ">
                    <p-chart type="bar" [data]="data2"></p-chart>
                </div>
                <div class="card-footer ">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> FOCUS WORLD
                        <i class="fa fa-circle text-danger"></i> TODO WORLD
                        <i class="fa fa-circle text-warning"></i> CHAT WORLD
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




