$color-magenta: #F1136C;
$color-white : white ;
$color-black: rgba(74, 12, 96, 0.504);
$color-black-light: #4f23698b;

*{
    margin: 0;
    padding: 0;
}

body{
    //background: $color-magenta;
    //background: linear-gradient(270deg, $color-magenta 0% , $color-white 100%);
    //background-repeat: no-repeat;
    //background-attachment: fixed;
    //font-family: 'lato';
    //height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*hide audio*/
.dnone{
    display: none;
}

.center{
    position: absolute;
  top: 20%;
  left: 25%;
  //transform: translate(-50%, -50%);
}

.content{
    background-color: $color-black ;
    width: 50rem;
    height: auto;
    border-radius: 1.5rem;

    .content-timer{
        display: flex;
        justify-content: center;
        padding-top:7rem;

        .content-h,
        .content-m,
        .content-s{
            width: 16rem;
            height: 10rem;
        
            .time{
                font-size: 130px;
                color: $color-white;
                font-weight: 300;
                text-align: center;

                span{
                    font-size: 3.5rem;
                    font-weight: 300;
                    color: $color-magenta;
                }
            }
        }

        .content-btn{
            text-align: center;

            button{
                font-size: 0.9rem;
                padding: 1rem;
                width: 3rem;
                margin: 0 10px;
                border-radius: 10px;
                border:none;
                outline: inherit;
                color: $color-magenta;
                background: $color-black;
            }

            :hover{
                background: $color-black-light;
                transition: 0.5s;
                transform: scale(0.8);
                cursor: pointer;
            }
        }

    }

    .content-btn-action{
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        padding-bottom: 2rem;

        button{
            font-size: 5erm;
            width: 6.5rem;
            padding: 1rem;
            margin:0 30px;
            border-radius: 20px;
            border: none;
            outline: inherit;
            color: $color-magenta;
            background: $color-black;

            &:hover{
                background-color: $color-black-light;
                transition: 0.6s;
                transform: scale(0.8);
                cursor: pointer;
            }

            &:disabled{
                opacity: 0.3;
            }
        }
    }
}

/* animations*/

.move{
    animation: move_timer 3.5s infinite;
}

@keyframes move_timer{
    20%,
    50%,
    80%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-20px);
    }
    60%{
        transform: translateY(-10px);
    }
}
.playlist{
    position: absolute;
    top: 23%;
    left: 26%;
    z-index: 3;
}