
<iframe style="border-radius:12px" class="playlist" 
src="https://open.spotify.com/embed/artist/0oaP0FzHSRg7Dbx2ehVxSF?utm_source=generator" 
width="50%" height="100" frameBorder="0" allowfullscreen="" 
allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
</iframe>
<div class="content center" [class.move]="animate">
    
    <div class="content-timer">
        <div class="content-h">
            <div class="time">{{hours}} <span>H</span></div>
            <div class="content-btn" *ngIf="show">
                <button (click)="increment('H')"> <i class="tim-icons icon-simple-add"></i> </button>
                <button (click)="decrement('H')"> <i class="tim-icons icon-simple-delete"></i> </button>
            </div>
        </div>

        <div class="content-m">
            <div class="time">{{minutes }}<span>M</span></div>
            <div class="content-btn" *ngIf="show">
                <button (click)="increment('M')"> <i class="tim-icons icon-simple-add"></i> </button>
                <button (click)="decrement('M')"> <i class="tim-icons icon-simple-delete"></i> </button>
            </div>
        </div>

        <div class="content-s">
            <div class="time">{{seconds }}<span>S</span></div>
            <div class="content-btn" *ngIf="show">
                <button (click)="increment('S')"> <i class="tim-icons icon-simple-add"></i></button>
                <button (click)="decrement('S')"> <i class="tim-icons icon-simple-delete"></i> </button>
            </div>
        </div>

    </div>

    <div class="content-btn-action">
        <button type="button" (click)="start()" [disabled] = "disabled"><i class="tim-icons icon-triangle-right-17"></i></button>
        <button type="button" (click)="stop()"><i class="tim-icons icon-button-pause"></i> </button>
        <button type="button"(click)="reset()"><i class="tim-icons icon-refresh-01"></i> </button>
    </div>
</div>

<audio #idAudio controls class="dnone">
    <source type="audio/wav" src="../../assets/Funny_Timer.mp3">
</audio>
