<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-user-o"></span>
              </div>
              <h3 class="text-center mb-4">Login</h3>
                    <form [formGroup]="myform" (ngSubmit)="signIn()" class="login-form">
                  <div class="form-group">
                      <input type="text"  placeholder="username" formControlName="username"  class="form-control rounded-left"  required>
                  </div>

                  <div *ngIf="myform.get('username')?.hasError('required') && username && (username.dirty || username.touched)" class="help-block">
                    <div>username is required </div>
                  </div>

            <div class="form-group d-flex">
              <input formControlName="password" type="password" class="form-control rounded-left" placeholder="Password" required>
            </div>
           

            <div *ngIf="password && (password.dirty || password.touched)" class="help-block">
                <div *ngIf="myform.get('password')?.hasError('minlength')"> Short password</div>
                <div *ngIf="myform.get('password')?.hasError('required')">Password is required </div>
              </div>
            
            <div class="form-group">
                <button type="submit"  [disabled]="myform.invalid" class="btn btn-primary rounded submit p-3 px-5">Get Started</button>
            </div>
          </form>
        </div>
            </div>
        </div>
    </div>
</section>

