<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
body {
    background-color: #401C88;
    background: 
    radial-gradient(#9657E6, #401C88);
  }
=======
@import "~bootstrap";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> fd7855df22c152724616517492e0012655eed322
