<li  class="list-group-item" [ngClass]="toggleClass()">
    <!-- <li class="list-group-item" [ngClass]="{'list-group-item-success' : completed, 'border-primary' : completed}"> -->
    <!-- <li class="list-group-item" [ngStyle]="{'background-color: 'completed? 'red : green'}"> -->
    <!-- <li class="list-group-item" [ngClass]="completed ? 'list-group-item-success'  : 'list-group-item-danger' "> -->
    <!-- <li class="list-group-item" [class.list-group-item-success]="completed"> -->
      <div class="float-right">
        <span class="mx-2">{{todoInput.date | date}}</span>
        
     <button class="btn btn-danger btn-sm mx-3" (click)="deleteTodoInfo(todoInput.id)">x</button>
    </div>
      <div class="row">
        <div class="typography-line"><b>{{todoInput.name}} :</b> {{todoInput.description}}</div>
    </div>
    <div>

          <div class="row nav-tabs-danger" name="status" aria-label="Font Style" >
            <div class="col-md-2">
              <button value="actif"  class="badge mr-1" [ngClass]="{ 'badge-info': this.todoInput.status.valueOf()=='actif' , 'badge-primary': this.todoInput.status.valueOf()!='actif'  }" (click)="setStatus('actif')">Actif</button>
            </div>
            <div class="col-md-2">
              <button value="waiting" class="badge mr-1" [ngClass]="{ 'badge-info': this.todoInput.status.valueOf()=='waiting', 'badge-primary': this.todoInput.status.valueOf()!='waiting' }" (click)="setStatus('waiting')">
                Waiting
              </button>
            </div>
            <div class="col-md-2">
              <button value="done"  class="badge mr-1" [ngClass]="{ 'badge-info': this.todoInput.status.valueOf()=='done', 'badge-primary': this.todoInput.status.valueOf()!='done' }" [ngClass]="buttonClass('done')" (click)="setStatus('done')">
                Done
              </button>
            </div>
          </div>
    </div> 
   
</li>
<!-- [ngClass]="buttonClass('waiting')"
*ngIf="!isDeleted" 
-->